<%- include global/head.ejs %>
<!--main-->
<div class="spplier_chain_box clearfix">
    <div class="chain_left fl">
        <h3>系统入口</h3>
        <div class="options_entry clearfix">
            <a href="javascript:void(0);" class="wms_list_link">
                <img src="images/temp/pic01.png" />
                <span>WMS</span>
            </a>
            <a href="">
                <img src="images/temp/pic02.png" />
                <span>liuwentao</span>
            </a>
            <a href="">
                <img src="images/temp/pic03.png" />
                <span>大数据分析平台</span>
            </a>
            <a href="">
                <img src="images/temp/pic04.png" />
                <span>SCS</span>
            </a>
            <a href="">
                <img src="images/temp/pic04.png" />
                <span>HSDPA</span>
            </a>
        </div>
        <h3>上线通知 </h3>
        <div class="online_voice">
            <a href="">
                <span class="online_voice_txt"><strong></strong> SCS 1.2.2版本上线通知</span>
                <span class="online_voice_time">2015-04-12</span>
            </a>
            <a href="">
                <span class="online_voice_txt"><strong></strong> SCS 1.2.2版本上线通知</span>
                <span class="online_voice_time">2015-04-12</span>
            </a>
            <a href="">
                <span class="online_voice_txt"><strong></strong> SCS 1.2.2版本上线通知</span>
                <span class="online_voice_time">2015-04-12</span>
            </a>
            <a href="">
                <span class="online_voice_txt"><strong></strong> SCS 1.2.2版本上线通知</span>
                <span class="online_voice_time">2015-04-12</span>
            </a>
            <a href="">
                <span class="online_voice_txt"><strong></strong> SCS 1.2.2版本上线通知</span>
                <span class="online_voice_time">2015-04-12</span>
            </a>
        </div>
    </div>
    <div class="chain_right fr">
        <div class="todo_list_box">
            <h3>
                <i class="list_icon"></i>
                <span>待办事项</span>
            </h3>
            <ul class="todo_list">
                <li>
                    <div class="todo_list_item clearfix">
                        <div class="todo_list_num">
                            <i style="background: #24a5ff;"></i>
                            <span>1.</span>
                        </div>
                        <a href="">我是问题，关于配送系统如何使用如何使用关于配送系统如何使用如何使用关于何使用如何使用关于使用……</a>
                    </div>
                    <p class="todo_list_txt">提出人：轻松熊  |  问题分类：分类一</p>
                </li>
                <li>
                    <div class="todo_list_item clearfix">
                        <div class="todo_list_num">
                            <i style="background: #ff5d32;"></i>
                            <span>2.</span>
                        </div>
                        <a href="">我是问题，关于配送系统如何使用如何使用关于配送系统如何使用如何使用关于何使用如何使用关于使用……</a>
                    </div>
                    <p class="todo_list_txt">提出人：轻松熊  |  问题分类：分类一</p>
                </li>
                <li>
                    <div class="todo_list_item clearfix">
                        <div class="todo_list_num">
                            <i style="background: #28b87a;"></i>
                            <span>3.</span>
                        </div>
                        <a href="">我是问题，关于配送系统如何使用如何使用关于配送系统如何使用如何使用关于何使用如何使用关于使用……</a>
                    </div>
                    <p class="todo_list_txt">提出人：轻松熊  |  问题分类：分类一</p>
                </li>
            </ul>
            <div class="todo_list_page">
                <a href="javascript:void(0);" class="page_to page_no"><</a>
                <a href="javascript:void(0);" class="page_num cur">1</a>
                <a href="javascript:void(0);" class="page_num">2</a>
                <a href="javascript:void(0);" class="page_num">3</a>
                <a href="javascript:void(0);" class="page_num">4</a>
                <a href="javascript:void(0);" class="page_num">5</a>
                <a href="javascript:void(0);" class="page_to">></a>
                <a href="" class="look_history">查看历史纪录 <i> ></i></a>
            </div>

        </div>
        <div class="chart_box clearfix">
            <div class="chart_item">
                <h3><span>订单趋势</span></h3>
                <div class="chart_content"></div>
            </div>
            <div class="chart_item">
                <h3><span>订单趋势</span></h3>
                <div class="chart_content"></div>
            </div>
            <div class="chart_item">
                <h3><span>订单趋势</span></h3>
                <div class="chart_content"></div>
            </div>
            <div class="chart_item">
                <h3><span>订单趋势</span></h3>
                <div class="chart_content"></div>
            </div>
            <div class="chart_item">
                <h3><span>订单趋势</span></h3>
                <div class="chart_content"></div>
            </div>
            <div class="chart_item">
                <h3><span>订单趋势</span></h3>
                <div class="chart_content"></div>
            </div>

        </div>
    </div>
</div>
<!--/main-->
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<%- include global/foot.ejs %>
