<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>供应链</title>
    <link type="text/css" rel="stylesheet" href="css/base.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body>

<!--header start-->
<div class="header">
    <!--头部S-->
    <div class="header_outer clearfix">
        <a class="logo fl" href="">
            <span class="logo_title">供应链系统</span>
            <span class="logo_txt">supplier chain management system</span>
        </a>
        <div class="userinfor clearfix">
            <div class="userinfo_mer fr">
                <a href="" class="mer_voice"><i class="new_voice"></i></a>
                <div class="mer_oprate none">
                    <i class="mer_tips01"></i><i class="mer_tips02"></i>
                    <h4>我的消息</h4>
                    <dl class="mer_list">
                        <dt>未读消息</dt>
                        <dd>
                            <a href="">您的1保贷授信已失效，请先将剩余贷款还清后，前往“授信管理”中申请再次授信</a>
                            <p>更新人：轻松熊</p>
                            <p>更新时间：2015-09-29  12：00：12</p>
                        </dd>
                        <dd>
                            <a href="">您的1保贷授信已失效，请先将剩余贷款还清后，前往“授信管理”中申请再次授信</a>
                            <p>更新人：轻松熊</p>
                            <p>更新时间：2015-09-29  12：00：12</p>
                        </dd>
                        <dd>
                            <a href="">您的1保贷授信已失效，请先将剩余贷款还清后，前往“授信管理”中申请再次授信</a>
                            <p>更新人：轻松熊</p>
                            <p>更新时间：2015-09-29  12：00：12</p>
                        </dd>
                        <dd>
                            <a href="">您的1保贷授信已失效，请先将剩余贷款还清后，前往“授信管理”中申请再次授信</a>
                            <p>更新人：轻松熊</p>
                            <p>更新时间：2015-09-29  12：00：12</p>
                        </dd>
                    </dl>
                    <div class="mer_page clearfix">
                        <a href="" class="page_change"> < </a>
                        <span>1<em>/5</em></span>
                        <a href="" class="page_change"> > </a>
                    </div>
                    <div class="mer_btn_box">
                        <a href="" class="mer_btn01">关闭</a>
                        <a href=""  class="mer_btn02">查看历史消息</a>
                    </div>
                </div>
            </div>
            <span class="fr to_to"></span>
            <a href="javascript:void(0);" class="userinfo_nlink"><i></i> <span>hi,李磊雷</span></a></a>
        </div>
    </div>
    <!--头部E-->
</div>
<!--header end-->